*{
    box-sizing: border-box;
}
.header{
    width: 7.5rem;
    height: 1.3rem;
    background: #ffb20c;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.h-1 {
    width: 7.02rem;
    height: 0.4rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.h-1-fh {
    width: 0.37rem;
    height: 0.37rem;
}
.h-1 img {
    width: 0.37rem;
    height: 0.37rem;
    float: left;
}
.h-1-title {
    color: white;
    font-size: 0.38rem;
    text-align: center;
    flex-grow: 1;
}
.h-1-3{
    margin-right: 0.15rem;
}

/*item开始*/
.m-3 {
    width: 7.02rem;
    height: 1.53rem;
    background-color: #ffffff;
    border-radius: 0.1rem;
    box-sizing: border-box;
    margin: 0.22rem auto 0.6rem;
    box-shadow: 0rem 0.05rem 0.1rem 0rem rgba(255, 178, 12, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

}
.m-3-1 {
    width: 6.54rem;
    height: 1.13rem;
    margin: 0 auto;
}
.m-3-1-1 {
    width: 1.13rem;
    height: 1.13rem;
    float: left;
    border-radius: 0.1rem;
    margin-right: 0.64rem;
}
.m-3-1-1 img {
    width: 1.13rem;
    height: 1.13rem;
    float: left;
}
.m-3-2 {
    width: 1rem;
    height: 1.13rem;
    float: left;
}
.m-3-2-1 {
    width: 1rem;
    height: 0.5rem;
    font-size: 0.26rem;
    color: #585858;
    box-sizing: border-box;
    border-bottom: 0.02rem dotted rgba(0,0,0,0.1);
}
.m-3-2-2 {
    width: 1rem;
    color: #ff2a70;
    font-size: 0.24rem;
}
.m-3-3 {
    float: left;
    margin-left: 0.22rem;
    margin-top: 0.21rem;
    width: 1.5rem;
    color: #585858;
    font-size: 0.2rem;
}
/*title 开始*/
.title {
    width: 5.2rem;
    height: 0.59rem;
    margin: 0 auto 0.2rem;
}
.t-1 {
    width: 2.36rem;
    height: 0.59rem;
    background-color: #ff296f;
    border-radius: 0.3rem;
    float: left;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.59rem;
    color: white;
}
.t-2 {
    width: 2.36rem;
    height: 0.59rem;
    background-color: #ffb20c;
    border-radius: 0.3rem;
    float: right;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.59rem;
    color: white;
}


/*推荐开始*/
.tc-box{
    width: 7.5rem;
    height: 15rem;
    background: rgba(0,0,0,0.1);
    margin: 0 auto;
}
.t-b {
    width: 7.02rem;
    height: 15rem;
    margin: 0 auto ;
}
.t-b-1 {
    width: 5rem;
    height: 1.05rem;
    float: left;
    margin-top: 0.17rem;
    margin-bottom: 0.17rem;
}
.t-b-1-1{
    font-size: 0.32rem;
    color: #fefefe;
}
.t-b-1-2{
    color: #ffb20c;
    font-size: 0.26rem;
}
.t-b-1-3{
    color: #ffb20c;
    font-size: 0.26rem;
    line-height: 0.23rem;
}

.t-b-2 {
    width: 7.02rem;
    display: inline-block;
    margin: 0 auto;
    flex-wrap: wrap;
}

.m-b-dj {
    display: inline-block;
    width: 7.02rem;
    height: 1.55rem;
    background: white;
    margin-bottom: 0.24rem;

}

.mr-dj-tp {
    width: 1.55rem;
    height: 1.55rem;
    margin-right: 0.1rem;
    float: left;

}

.mr-dj-tp img {
    width: 1.55rem;
    height: 1.55rem;
}

.m-d-name {
    width: 3.2rem;
    height: 1.55rem;
    float: left;
    /*background: pink;*/
    display: flex;
    flex-wrap: wrap ;

}

.d-n-1 {
    width: 3.2rem;
    height: 0.4rem;
    font-size: 0.24rem;
    /*background: #ef3a3b;*/
    font-family: PingFang-SC-Medium;
    color: #000000;
    border-bottom: 1px solid #757575 ;
}

.d-n-2 {
    height: 0.3rem;
    width: 3.2rem;
    /*background: yellow;*/
    font-family: PingFang-SC-Medium;
    color: #757575;
    font-size: 0.2rem;

}

.d-n-3 {
    width: 2.4rem;
    height: 0.3rem;
    font-size: 0.2rem   ;
    /*background: green;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: PingFang-SC-Medium;



}
.d-n-3 div:nth-child(1){
    color: #ff3071;
}
.d-n-3 div:nth-child(2){
    color: #ffb30b;
}
.d-n-4 {
    width: 3.2rem;
    height: 0.3rem;
    font-size: 8px;
    /*background: #ff6700;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: PingFang-SC-Medium;
    color: #757575;
}

.d-n-4-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.18rem;
}
.d-n-4-1 img{
    width: 0.25rem;
    height: 0.25rem;
    margin-right: 0.05rem;
}
.d-n-4-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.18rem;
}
.d-n-4-2 img{
    width: 0.2rem;
    height: 0.25rem;
    margin-right: 0.05rem;
    margin-left: 0.05rem;
}
.d-n-4>div{
    font-size: 0.18rem;
}
.m-b-gwc {
    width: 1.5rem;
    height: 1.3rem;
    margin-right: 0.3rem;
    margin-top: 0.1rem;
    /*background: red;*/
    float: right;
    position: relative;
}
.gwc-xx {
    width: 1.3rem;
    height: 0.3rem;
    /*background: yellow;*/
}
.gwc-xx img{
    float: left;
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.02rem;
}
.gwc {
    width: 0.6rem;
    height: 0.6rem;
    /*background: black;*/
    position: absolute;
    bottom: 0;
    right: 0;
}
.gwc img{
    width: 0.6rem;
    height: 0.6rem;
}